<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Inventory Site</h1>
       


        {{{body}}}
        
    </body>
</html>